<!-- Not used in favor of gazebo_ros_control -->


<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gazebo_ros_diff_drive" filename="libgazebo_ros_diff_drive.so">

            <!-- Wheel Information -->
            <leftJoint>left_wheel_joint</leftJoint>
            <rightJoint>right_wheel_joint</rightJoint>
            <wheelSeparation>0.297</wheelSeparation>
            <wheelDiameter>0.066</wheelDiameter>
            <robotBaseFrame>robot/base_link</robotBaseFrame>

            <!-- Command Topic -->
            <commandTopic>/robot/cmd_vel</commandTopic>
            <updateRate>100</updateRate>

            <!-- Limits -->
            <wheelTorque>200</wheelTorque>
            <wheelAcceleration>10.0</wheelAcceleration>

            <!-- Output -->
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <publishOdom>true</publishOdom>
            <publishOdomTF>true</publishOdomTF>

            <!-- Setting this false removed extra wheel tf. was right_wheel instead of robot/right_wheel-->
            <publishWheelTF>false</publishWheelTF> 
            <publishTf>true</publishTf>
            <publishWheelJointState>true</publishWheelJointState>

        </plugin>
    </gazebo>

</robot>