<launch>
    <!-- Set environment variables for real robot wifi setup -->
    <!-- X.X.X.X IP address of master (PC) -->
    <env name="ROS_MASTER_URI" value="http://X.X.X.X:11311"/>
    <env name="ROS_IP" value="X.X.X.X"/>



    <!-- Convert XACRO to URDF and load to parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find my_robot)/description/urdf/romi.urdf.xacro'"/>
    
    <!-- Run the robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
    </node>

    <!-- Launch RVIZ -->
    <include file="$(find my_robot)/launch/romi_rviz.launch"/>
    
    <!-- Launch bluetooth controller -->
    <include file="$(find my_robot)/launch/joy_controller.launch"/>
</launch>