<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- Accept argument to enable/disable simulation-specific configuration -->
    <xacro:arg name="use_simulation" default="false"/>


    <xacro:include filename="romi_core.xacro"/>
    <!-- <xacro:include filename="romi_camera.xacro"/> -->
    <xacro:include filename="romi_lidar.xacro"/>

    <!-- For sim only -->
    <xacro:if value="$(arg use_simulation)">
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            </plugin>
        </gazebo>
    </xacro:if>


    <transmission name="left_wheel_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_wheel_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>  
        </joint>
        <actuator name="left_wheel_motor">
            <mechanicalReduction>1</mechanicalReduction>
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
        </actuator>
    </transmission>

    <transmission name="right_wheel_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_wheel_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>  
        </joint>
        <actuator name="right_wheel_motor">
            <mechanicalReduction>1</mechanicalReduction>
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
        </actuator>
    </transmission>

</robot>
